.contact-form {
  padding: 60px;
  margin-top: 60px;
}

.contact-form h2 {
  margin-bottom: 30px;
}

#products .item .thumb .icon-tuto {
  width: 30px;
  height: 30px;
}

.grid-tuto {
  border: 1px solid #0000000a;
  padding: 5px;
  margin: 5px;
  max-width: 280px !important;
}

.container-about-us {
  min-height: 1000px;
  max-width: 1200px;
  position: relative;
  margin: auto;
}

.img-about-us {
  width: 500px;
  position: absolute;
  top: 200px;
  left: 60px;
  border-radius: 20px;
}

.img2-about-us {
  width: 500px;
  position: absolute;
  bottom: 50px;
  right: 60px;
  border-radius: 20px;
}

.text-about-us {
  width: 500px;
  position: absolute;
  top: 270px;
  right: 40px;
}

.text-about-us h2 {
  margin-bottom: 10px;
}

.text2-about-us h2 {
  margin-bottom: 10px;
}

.text2-about-us .btn {
  margin: 20px;
}

.text2-about-us {
  width: 500px;
  position: absolute;
  bottom: 150px;
  left: 40px;
}
